.home-img-div{
    color:white;

    background-image: url('../src/assests/img/WabisabiFoodTruck.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
}

