.footer-div{
    position: absolute;
    width: 100%;
    background-color: antiquewhite;
}

.footer-div>ul{   
    list-style-type: none;
    display: flex;
}

.footer-div>ul>li{
    font-size: 0.8rem;
}