.header-nav{
    background-color: #C86001;
    z-index: 1;
    width:100% ;
    position: sticky;
}

.header-list{
    list-style-type: none;
    display: flex;
    justify-content: end;
    opacity: 80%;
    margin-right: 1rem;
}

li{
    margin-left:1rem;
}

li>a:hover{
    color:wheat;
}

li>a{
    color: rgb(154, 221, 248);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header-sign{
    display: flex;
    justify-content: space-between;
    align-items: left;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header-sign>div{
    margin-left: 0.5rem;
}

#logo {
    width: 100px;
    height: 50px;
    margin-right: 0.5rem;
}

#sign-with-log{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}